[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IRTC"]
	path = IRTC
	url = https://github.com/weiandata/irtc
[submodule "LISTC"]
	path = LISTC
	url = https://github.com/weiandata/listc
[submodule "WFC"]
	path = WFC
	url = https://github.com/weiandata/wfc
